exclude Makefile
exclude Dockerfile
exclude .git*
exclude .*
exclude mkdocs.yml
exclude readthedocs.yml
exclude sonar-project.properties

prune .*
prune bootstrap
prune bootstraps
prune doc
prune docs
prune example
prune examples
prune data
prune log
prune logs
prune notebooks
prune out
prune output
prune requires
prune schema
prune schemas
prune site
prune static
prune submodule
prune submodules
prune test
prune tests
prune tmp
prune temp
prune tool
prune tools
prune *.git*
