# The file defines requirements for the project's local development.
# It's NOT package install dependencies.

# project itself
-e .

# material theme and markdown extensions
mkdocs-material
pymdown-extensions

# jupyter
jupyter

# requirements to run the notebook
pygments
matplotlib
requests

# CI tools
build
setuptools_scm
pre-commit
ruff
